# Microdados originais - grandes demais para o Git
data/raw/**/*.csv

# Dados processados (avaliar se entram no Git dependendo do tamanho final)
data/processed/**/*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# Sistema
.DS_Store